// .g_button
//   display: inline-block
//   width: 90px
//   height: 30px
//   line-height: 30px
//   margin-left: 24px
//   background: #fff
//   text-align: center
//   color: #15a1e9
//   border: 1px solid #15a1e9
//   border-radius: 3px
//   &:hover
//     background: #3fb2eb
//     color: #fffdff
.g_input
  border-radius: 4px
  border: 1px solid #d7d7d7
  color: #b3aaaa
  padding-left: 20px
  background: #fff
.title-cell-class-name-test
  background-color: #f3f3f3
  color: #666666
  font-size: 16px
.g_button
  display: inline-block
  width: 90px
  height: 30px
  line-height: 30px
  margin-left: 24px
  background: #f8f8f8
  text-align: center
  color: #666666
  border: 1px solid #d4d4d4
  border-radius: 3px
  outline: none
  &:hover
    background: #ebebeb
    color: #666
  a
    color: #666666
.g_a
  color: #438EDB
  &:hover
    text-decoration: none
    
.v-page-li-active
  background: #ededed
  color: #fefefe
  border: 1px solid #e5e5e5
  &:hover
    background: #e5e5e5
    border: 1px solid #e5e5e5
.v-page-li
  border: 1px solid #e5e5e5
  &:hover
    border: 1px solid #e5e5e5
    a
      color: #666666